<!DOCTYPE html>
<html>
  <head>
    <title>Socket-io : rooms concept</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Socket-io rooms</h1>
    <input type="text" placeholder="enter a message">
     <button>send message</button>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();

       const roomName  = prompt("Enter a Room name ");
       socket.emit(`join-room`, roomName);
      
       document.querySelector("button").addEventListener("click", function(dets){
       
        const message = document.querySelector("input").value;
        socket.emit(`sony`, {message, roomName});
  
     })
     
     socket.on(`max`, incomingmsg =>{
        alert(incomingmsg)
     })
  
    </script>
  </body>
</html>
